<ion-view view-title="Check-list" id="p1">
<ion-content>

    <div class = "card" border>            
        <ion-list>
            <ion-item class="item­checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
                Documento
            </ion-item>

            <ion-item class="item­checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
                Extintor
            </ion-item>

            <ion-item class="item­checkbox">
                <label class="checkbox checkbox­assertive">
                  <input type="checkbox">
                </label>
                Equipamentos Obrigatorios
            </ion-item>
            </ion-list>

            <ion-item class="item­checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
                Água e Oleo
            </ion-item>

            <ion-item class="item­checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
                Estepe
            </ion-item>
        </div>

    <a button class="button button-positive button-block" href="#/app/dadosCaminhao"  ng-click = "showAlertChecklist()">Confirmar</button></a>
    <a button class="button button-assertive button-block" href="#/app/dadosCaminhao">Cancelar</button></a>
  </ion-content>
</ion-view>

