<ion-view view-title="Inicio da Jornada" id="p1">
<ion-content>
<br/><br/><br/><br/><br/>
    <div class = "card" border>   
        <a button class="button button-positive button-block" href="#/app/maps">Trajeto</button></a> 
        <ion-list>
        	<ion-item>
        	<label class = "item item-input">
                  <input type = "text" placeholder = "Placa do caminhão">
            </label> 
            <label class = "item item-input">
                  <input type = "text" placeholder = "KMs">
            </label> 
            <a button class="button button-positive button-block" href="#/app/checklist">Check-list</button></a>
        	</ion-item>
        </ion-list>
    </div>
    <a menu-close button class="button button-positive button-block" href="#/app/jornada">Continuar</button></a>
  </ion-content>
</ion-view>
