<ion-view view-title="Finalizar Jornada" id="p1">
<ion-content>
<br/><br/><br/><br/><br/>
    <div class = "card" border>   
        <p> Observações da viagem: </p>
        <label class = "item item-input">
            <input type = "text" placeholder = "Observações">
        </label>
        <!-- mostrar a lista com os tempos -->
    </div>
    <a menu-close button class="button button-assertive button-block" href="#/app/iniciarJornada" ng-click = "showAlertRelatorio()">Finalizar Jornada</button></a> <!--Alert de deu certo -->
  </ion-content>
</ion-view>
