<ion-view view-title="Nova Jornada" id="p1">
<ion-content>
<br/><br/><br/><br/><br/>
    <div class = "card" border>   
        <a button menu-close class="button button-positive button-block" href="#/app/dadosCaminhao">Iniciar Nova Jornada</button></a>  <!-- Ja começa contar hora (Chamar funcao contando as horas) -->
        <a button menu-close class="button button-stable button-block" href="#/app/playlists">Sair</button></a> 
    </div>

    <div class = "card" border>   
        <a button class="button button-positive button-block" ng-click="showAlertSincronizar()">Sincronizar</button></a>  
    </div>

  </ion-content>
</ion-view>

