<ion-view view-title="Jornada" id="p1">
  <ion-content>
        
    <ion-radio name="status" value="1" ng-model="status.Direcao" ng-click="showAlertDescanso(status.Descanso, 1)" id="tgDirecao">
          Em Direção
    </ion-radio>
    <ion-radio name="status" value="2" ng-model="status.teste1" ng-click="showAlertDescanso(status.Descanso, 1)" id="tgDirecao">
          Em Refeição
    </ion-radio>
    <ion-radio name="status" value="3" ng-model="status.Direcao" ng-click="showAlertDescanso(status)" id="tgDirecao">
          Em Descanso
    </ion-radio>
    <ion-radio name="status" value="4" ng-model="status.Direcao" ng-click="showAlertDescanso(status.Descanso, 1)" id="tgDirecao">
          Esperando Carga
    </ion-radio>
    <ion-radio name="status" value="5" ng-model="status.Direcao" ng-click="showAlertDescanso(status.Descanso, 1)" id="tgDirecao">
          Esperando Descarga
    </ion-radio>
    <ion-radio name="status" value="6" ng-model="status.Direcao" ng-click="showAlertDescanso(status.Descanso, 1)" id="tgDirecao">
          Esperando Cliente
    </ion-radio>
    <ion-radio name="status" value="7" ng-model="status.Direcao" ng-click="showAlertDescanso(status.Descanso, 1)" id="tgDirecao">
          Esperando Fiscalização 
    </ion-radio>
    <ion-radio name="status" value="8" ng-model="status.Direcao" ng-click="showAlertDescanso(status.Descanso, 1)" id="tgDirecao">
          Manutenção
    </ion-radio>
    <ion-radio name="status" value="9" ng-model="status.Direcao" ng-click="showAlertDescanso(status.Descanso, 1)" id="tgDirecao">
          Abastecendo
    </ion-radio>
    <ion-radio name="status" value="10" ng-model="status.Direcao" ng-click="showAlertDescanso(status.Descanso, 1)" id="tgDirecao">
          Pernoite
    </ion-radio>
    <a button class="button button-positive button-block" href="#/app/finalizarJornada">Observações</button></a>
  </ion-content>
</ion-view>

