<ion-view view-title="Nova Senha" id="p1">
<ion-content id: p1>
<br/><br/><br/><br/><br/>
    <div class = "card" border>
            <ionitem class = "item-text-wrap">
              <ionlist>                
                <label class = "item item-input">
                  <input type = "text" placeholder = "Informe seu Email">
                </label>
              </ionlist>
            </ionitem>            
          </div>

          <div class = "card">
            <ionitem class = "item-text-wrap">
              <button class="button button-positive button-block" href="#/app/playlists" ng-click = "showAlert()">Redefinir Senha</button> 
              <a button class="button button-light button-block" href="#/app/playlists">Cancelar</button></a>
            </ionitem>
  </ion-content>
</ion-view>