<ion-view view-title="Friend List">
        <ion-content ng-controller="AppCtrl">
        <div class = "card-redondo">
        <h4 align="center">Friend List </h4>
            <div align="center">
              <button class="button button-icon icon ion-minus-circled" ng-click="showDelete = !showDelete"></button>      
              <button class="button button-icon icon ion-arrow-left-b" ng-click="showReorder = !showReorder"></button>
              <a button class="button button-icon icon ion-person-add" ng-click="login()"></button></a>
              <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
              </div>
        </div>
        <ion-list show-delete="showDelete" show-reorder="showReorder">
          <ion-item ng-repeat="item in items" class="item-avatar item-text-wrap">
            <ion-delete-button class="ion-minus-circled" ng-click="deleteItem(item)"></ion-delete-button>            
            <img src="img/{{ item.Img }}.jpg">
                {{ item.Nome}} <br/> <p class="icon ion-android-call"> {{ item.Phone }}
             <ion-reorder-button class="ion-arrow-left-b" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
          </ion-item>
         </ion-list>
        </ion-content>  
</ion-view>
